.header {
    width: 100vw;
    height: 260px;
    background-image: url('../../../img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-nav {
    padding: 30px 0 0 150px;
}
.header-title {
    text-align: center;
    margin: 60px 0 0 0;
    color: rgb(255, 255, 255);
}